<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit post</title>
</head>
<body> <!--Making form to edit the posts-->
    <h1>Edit Post!</h1>
    <h2>Edit Post for id:</h2>
    <h3>Edit for username:</h3>
    <form>
        <textarea></textarea>
        <button>Submit</button>
    </form>
</body>
</html>