<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Posts</title>
</head>
<body>
    <h1> Create A New Posts!</h1>
    <form method="POST" action="/posts" style="border: 1px solid black;width:500px; padding: 10px;">
        <label for="user">UserName:</label>
        <input type="text" placeholder="UserID" id="user" name="user"><br><br>
        <label for="Comment">Comment:</label>
        <textarea placeholder="Write your content" id="Comment" name="Comment"></textarea><br><br>
       &nbsp;&nbsp;&nbsp; <button style="margin-left: 100px;">Submit</button>

    </form>
</body>
</html>