<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qoura</title>
</head>
<body>
    <h1>Quora Digest</h1>
    <% for (raj of posts ) { %>
        <div>
            <h1>
                <%= raj.user %>
            </h1>
            <p><%= raj.Comment %></p>
        </div>
  <%  }%>
</body>
</html>