<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qoura</title>
</head>
<body>
    <h1>Quora Digest</h1>
    <% for (raj of posts ) { %>
        <div>
            <h3>
               @ <%= raj.user %>
            </h3>
            <p><%= raj.Comment %></p>
             <a href="http://localhost:8080/posts/<%= raj.id %>">Show deatails</a>
             <a href="http://localhost:8080/posts/<%= raj.id %>">Edit</a>

        </div>
  <%  }%>

  <a href="http://localhost:8080/posts/newPost">Create New Post</a>

  
</body>
</html>